services:
  gotify:
    image: gotify/server
    container_name: gotify
    restart: unless-stopped
    networks:
      proxy:
#    ports:
#      - 8080:80
    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./data:/app/data
    security_opt: 
      - no-new-privileges

networks:
  proxy:
    name: proxy 
    external: true
