services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
#    ports:
#      - 3000:3000
    volumes:
      - ./config:/app/config # Make sure your local config directory exists
#      - /var/run/docker.sock:/var/run/docker.sock:ro # (optional) For docker integrations, see alternative methods
    environment:
      HOMEPAGE_ALLOWED_HOSTS:  # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
      PUID: 1000
      PGID: 1000
    restart: unless-stopped
    security_opt: 
      - no-new-privileges
    networks:
      proxy:

networks:
  proxy:
    name: proxy 
    external: true
