services:
  alist:
    image: xhofe/alist:latest
    container_name: alist
    volumes:
      - ./alist:/opt/alist/data
#    ports:
#      - '5244:5244'
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=022
    restart: unless-stopped
    security_opt: 
      - no-new-privileges
    networks:
      proxy:

networks:
  proxy:
    name: proxy 
    external: true
